
/* @import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap'); */

@font-face{
    font-family: "Cavet";
    src: url(font/caveat-variablefont_wght-webfont.woff) format(woff),
         url(font/caveat-variablefont_wght-webfont.woff2) format(woff2);
}


.three{
    font-size: 20pt;
    font-family: 'Kablammo', cursive;
}




.icon{
    font-size: 100pt;
    background-color: rgb(198, 215, 13);
    padding: 50px;
    border-radius: 50%;
}